.socials-list {
  list-style: none; /* removes bullet points */
  padding: 0; /* removes default left indent */
  margin: 0; /* optional: keeps it tight */
  display: flex; /* keeps icons in a row */
  gap: 10px; /* spacing between icons */
  padding-top: 20px;
}
.list-item img {
  width: 35px;
  height: 35px;
}
